[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "cruts"]
	path = cruts
	url = https://github.com/cran/cruts
[submodule "deepNN"]
	path = deepNN
	url = https://github.com/cran/deepNN
[submodule "lgcp"]
	path = lgcp
	url = https://github.com/cran/lgcp
[submodule "miscFuncs"]
	path = miscFuncs
	url = https://github.com/cran/miscFuncs
[submodule "spatsurv"]
	path = spatsurv
	url = https://github.com/cran/spatsurv
